AddDefaultCharset UTF-8

RewriteEngine On
Options All -Indexes

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?action=$1 [L,QSA]
RewriteRule ^graph$ "graph.php"
RewriteRule ^banner$ "banner.php"
